################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/backend/Backend.Api/appsettings.Development.json
/tests/logs
/tests/venv
__pycache__/